.container-selector {
    position: relative;
    width: 100%;
}

.box-filter {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.country-list {
    position: absolute;
    top: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}
